/* CREAR MENU

UNIVERSIDAD AUTONOMA DE NUEVO LEON
FACULTAD DE CIENCIAS FISICO MATEMATICAS
SEMESTRE AGOSTO - DICIEMBRE 2022 

JOSE LUIS HERNANDEZ MEZA - 1950471 */

.menu {
    width: 100%; /* Ancho del bloque */
    background-color: antiquewhite;
    list-style-type: none; /* Quitar formas a la lista */
    margin: 0; /* Quitar espacios en blanco de las formas de la lista */
    padding: 0;
}

/* Poner el menu en una sola linea */
.menu li {
    display: inline-block;
}

.menu li a {
    padding: 10px;
    display: inline-block;
    background-color: aqua;
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}